@import url('base.css');
body{
    background: #f8e6e6;
}
/*侧导航开始*/
.navmin{
    width: 50px;
    height: 50px;
    background:rgba(255,255,255,0.8);
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
    font-size: 20px;
    color: #7b7b7d;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    cursor: pointer;
    opacity: 1;
}
.navopacity{
    width:160px;
    height: 100%;
    background: rgba(0,0,0,0);
    position: fixed;
    top: 0;
    left:0px;
    z-index: 999;
}
aside{
    width:160px;
    height: 100%;
    background:rgba(255,255,255,0.8);
    position: fixed;
    top: 0;
    left:-160px;
    z-index: 999;
}
.nav>div{
    width: 160px;
    height: 200px;
    margin-top: 40px;
    padding-top: 20px;
}
.touxiang input{
    border: none;
    background: none;
    padding-top: 20px;
    margin: 0 auto;
}
.touxiang{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0 auto;
}
.touxiang>a{
    display: block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.touxiang>a>img{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.nav>ul{
    width: auto;
    height: auto;
    margin-top: 60px;
}
.nav>ul>li{
    width: 100%;
    height: 53px;
    margin-bottom: 20px;
    padding-left: 20px;
    transition: all 1s;
    position: relative;
}
.nav>ul>li:hover{
    background: skyblue;
}
.nav>ul li>a>span{
    font-size: 14px;
    padding-left: 15px;
    line-height:53px;
}
.nav>ul li>a{
    color: #333;
}
.nav>ul li>a>div{
    width: 20px;
    height: 20px;
    background: red;
    float: left;
    margin-right: 10px;
    margin-top: 16px;

}
.yqc{
    width: 120px;
    height: auto;
    position: absolute;
    top: -50%;
    left: 160px;
    display: none;
    transition: all 0.5s;
}
.yqc>li{
    width: 100%;
    height: 30px;
    background: #00b5ec;
    font-size: 14px;
    color: #000;
    text-align: center;
    line-height: 30px;
}
/*侧导航结束*/
h1{
    font-size: 30px;
    color: #c7254e;
    text-align: center;
    line-height: 40px;
}
main{
    width: 1200px;
    border: 4px solid #fff;
    padding: 2px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.neirong{
    width: 692px;
    height: 590px;
    float: right;
    background: #fff;
    position: relative;
    overflow: hidden;
}
.black{
    width: 496px;
    height: 590px;
    float: left;
    background: #000;
    position: relative;
}
.white{
    width: 692px;
    height: 590px;
    float: right;
    background: #fff;
    position: absolute;
    top:2px;
    right: 2px;
    display: block;

}
.balckTop{
    width: 200px;
    height:70px;
    font-size: 30px;
    color:#fff;
    text-align: center;
    line-height: 70;
    position: absolute;
    right: 0;
    top: 30px;
    border: 2px solid #cccccc;
    border-right: none;
}
.whiteTop{
    width:250px;
    height: 70px;
    position: absolute;
    left: 0;
    top: 30px;
    border: 2px solid #cccccc;
    border-left: none;
    font-size: 30px;
    color: #000;
    text-align: center;
    line-height: 70px;
}
.black>ul{
    width: 100%;
    height: auto;
    margin-top: 250px;
    padding: 10px;

}
.black>ul li{
    margin: 0 auto;
    /*width: 150px;*/
    height: 50px;
    border: 1px solid #fff;
    border-radius: 10px;
    margin-bottom: 40px;
    font-size: 14px;
    color: #fff;
    /*text-align: center;*/
    line-height: 50px;
    padding-left: 180px;
    cursor: pointer;
}
.black>ul li>div{
    width: 20px;
    height: 20px;
    background: red;
    margin-right: 20px;
    color: #fff;
    margin-top: 15px;
    float: left;
}
.white>h3{
    margin-top: 120px;
    padding: 0px 30px;
}
.white>span{
    display: block;
    width: 100%;
    height: auto;
    padding: 0px 30px;
    margin-top: 20px;
    font-size: 16px;
    color: #555555;
    line-height: 30px;
}
.whiteImg{
    width: 600px;
    height: 320px;
    margin: 0 auto;
    border: 1px solid #cccccc;
    padding: 2px;
    margin-top: 20px;
}
.whiteImg>img{
    display: block;
    width: 100%;
    height: 100%;
}
.white>button{
    width: 150px;
    height: 40px;
    background: #84ff00;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    float: right;
    margin-right: 50px;
    margin-top: 50px;
}
.white>button:focus{
    outline: none;
}