/*头部开始*/
*{
    margin: 0;
    padding:0;
    list-style: none;
    text-decoration: none;
}
header{
    width: 100%;
    height:115px;
    /*background: palevioletred;*/
    background:#031b5b;
}
.head-left{
    width: 260px;
    height: 60px;
    margin-top: 28px;
    margin-left: 78px;
    float: left;
}
.head-left1{
    width: 60px;
    height: 60px;
    float: left;
    background: red;
}
.head-left2{
    width: 200px;
    height:60px;
    float: right;
    font-size: 50px;
    text-align: center;
    line-height: 60px;
    color:#fff;
}
.head-right{
    width: 360px;
    height: 60px;
    float: right;
    margin-right: 52px;
    margin-top: 28px;
    background: #fff;
}
/*头部结束*/
/*导航开始*/
.daohang{
    width: 100%;
    height: 38px;
    background: #000;
    border-bottom: 1px solid #fff;
}
.daohang-left{
    width: 840px;
    height: 100%;
    float: left;
    margin-left: 78px;
}
.daohang-left li{
    width: 60px;
    height: 100%;
    margin-right: 58px;
    float: left;
}
.daohang-left li:last-child{
    margin-right:0;
}
.daohang-left li a{
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 38px;
}
.daohang-right{
    width: auto;
    height: 38px;
    float: right;
    margin-right:34px;
}
.daohang-right li{
    width: 89px;
    height: 100%;
    background: #ee878b;
    float: left;
    margin-right: 1px;
}
.daohang-right li:last-child{
    margin-right: 0;
}
.daohang-right li a{
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 38px;
}
/*导航结束*/

/*banner开始*/
.banner{
    width: 100%;
    height: 500;
}
.banner img{
    display: block;
    width:100%;
    height: 100%;
}
/*banner结束*/

/*客户好评开始*/
.haoping{
    width: 100%;
    min-height: 300px;
    background:#000;
    overflow: hidden;
}
.haoping-top{
    width: 100%;
    height:121px ;
}
.haoping-top-left{
    width: 594px;
    height: 1px;
    margin-top:51px;
    background: #fff;
    float: left;
}
.haoping-top-right{
    width: 593px;
    height: 1px;
    margin-top:51px;
    background: #fff;
    float: right;
}
.haoping-top-mid{
    width: 160px;
    height: 38px;
    border:1px solid #fff;
    margin-top:31px;
    float: left;
    font-size: 19px;
    color:#fff;
    text-align: center;
    line-height: 38px;
}

.haoping-bottom{
    width:1256px;
    height: auto;
    background: #000;
    margin:0 auto;
    overflow: hidden;
}
.haoping-bottom li{
    width:615px;
    height: 135px;
    float: left;
    margin-right: 25px;
    margin-bottom: 54px;
}
.haoping-bottom li:nth-child(2n){
    margin-right:0;
}
/*.haoping-bottom li:nth-child(5),.haoping-bottom li:nth-child(6){*/
    /*margin-bottom:0;*/
/*}*/
.haoping-left{
    width: 125px;
    height: 125px;
    background:#172d78;
    border-radius: 50%;
    margin-top: 5px;
    margin-right: 45px;
    float: left;
}
.haoping-left img{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.haoping-right{
    width: 445px;
    height:100%;
    background:#172d78;
    border-radius:10px;
    float: left;
}
.haoping-right h3{
    margin-top: 28px;
    margin-left: 26px;
    margin-bottom: 20px;
    color:#fff;
}
.haoping-right p{
    display: block;
    padding:0 26px;
    font-size: 12px;
    color:#fff;
}


.yema{
    width:802px;
    height: 43px;
    margin: 0 auto;
}
.yema li{
    width: 49px;
    height: 41px;
    border:1px solid #fff;
    float: left;
    margin-right: 8px;
    cursor:pointer ;
    margin-bottom: 30px;
}
.yema li:last-child{
    margin-right: 0;
    width:72px;
    height: 41px;
}
.yema li:first-child{
    width: 89px;
}
.yema li:nth-child(11){
  width: 88px;
}
.yema li a{
    display: block;
    width:100%;
    height: 100%;
    font-size: 16px;
    text-align: center;
    line-height: 41px;
    color: #fff;
}
/*客户好评结束*/

/*底部导航开始*/

/*底部导航结束*/
.didaohang{
    width: 100%;
    height: 51px;
    background: #444444;
}
.didaohang1{
    width: 1185px;
    height: 51px;
    float: left;
    margin: 0 auto;
    margin-left: 78px;

}
.didaohang1 li{
    width: 97px;
    height: 100%;
    margin-right: 58px;
    float: left;
}
.didaohang1 li:last-child{
    margin-right:0;
}
.didaohang1 li a{
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 51px;
}
/*底部开始*/
footer{
    width: 100%;
}
/*底部结束*/